.divdiv {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.RilForm {
    width: 86%;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 16px;
}

.titlePage {
    margin-top: 64px;
    display: flex;
    justify-content: center;
}